body {
	background-color: blue;

}
div {
	background-color: lightgray;
}

.Silver-div h1{
	background-color: lightgray;
	font-size: 8px ;

}

.the-ugliest-purple-ever {
	background-color: #cc0099;
}
	